<!doctype html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% css.forEach(function(style){ %>
        <link rel="stylesheet" type="text/css" href="<%= style %>">
        <% }) %>

        <% core.concat(src).concat(specs).forEach(function(script){ %>
        <script type="text/javascript" src="<%= script %>"></script>
        <% }) %>

        <script type="text/javascript">
            window.onload = function() {
                execJasmine();
            };    
        </script>
    </body>
</html>