<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
        <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

    <% scripts.forEach(function(script){ %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>

    <% if (typeof amd != 'undefined') { %>

        <script type="text/javascript" src="<%= amd.lib_script %>" data-main="<%= amd.main_script %>"></script>

        <script type="text/javascript">
        require([
        <% amd.specs.forEach(function(spec, i) { %>
            '<%= spec %>' <% if (i !== amd.specs.length - 1) { %>,<% } %>
        <% }) %>
        ], function() { executeJasmine(); });
        </script>

    <% } else { %>

        <script type="text/javascript">
            executeJasmine();
        </script>

    <% } %>

</head>
<body>
</body>
</html>
